[user]
	name = Luiz Sotero
	email = luizsotero@gmail.com
[mergetool]
	keepBackup = true
[push]
	default = matching
[core]
	editor = subl -w
	autocrlf = false
[status]
	submoduleSummary = false
[alias]
    f = fetch

    # git change-commits GIT_COMMITTER_NAME "old name" "new name"
    # git change-commits  GIT_AUTHOR_EMAIL "old email" "new email"
    # git change-commits  GIT_COMMITTER_EMAIL "old email" "new email"
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "